<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/CSS/screenGames/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>English Challenge</title>
</head>
<body>
    <a class="botao" href="../home/index.html">X</a>
    <div class="containerText">
        <h1 id="texto">Translate "home"</h1>
        <input id="input" type="text" placeholder="Digite a tradução da palavra entre aspas">
    </div>
    <a class="botaoEnviar" href="#">
        <img id="setinha" src="../../static/imgs/setinha.png" alt="Setinha">
    </a>
</body>
</html>