<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/CSS/endGame/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>English Challenge</title>
</head>
<body>
        <div class="containerText">
            <h1 id="textoResult">Congratulations! This is your result:</h1>
            <h1 id="texto">Score<br>00</h1>
        </div>

        <div class="containerButton">    
            <a href="../allScore/index.html" class="botao">Home</a>
        </div>
</body>
</html>