<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/CSS/allScore/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>English Challenge</title>
</head>
<body>
        <div class="containerText">
            <h1 id="texto">All Score</h1>
            <ul>
                <li id="textoLista">06 pontos</li>
                <li id="textoLista">05 pontos</li>
                <li id="textoLista">04 pontos</li>
                <li id="textoLista">02 pontos</li>
                <li id="textoLista">01 pontos</li>
            </ul>
        </div>

        <div class="containerButton">    
            <a href="../home/index.html" class="botao">Home</a>
        </div>
</body>
</html>